@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #cd0303;
    transition: 0.5s;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    background-color: #111;
    margin-bottom:50px;
}

header .logo{
    position: relative;
    max-width: 130px;
}

header ul{
    position: relative;
    display: flex;
    
}
header ul li{
     list-style:none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .c1{
    position: relative;
    font-weight: 900;
    max-width: 600px;
}
.container .c1 h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.container .c1 h2 span{
    font-size: 2em;
}
.container .c1 p{
    padding-top: 30px;
    color: #fff;
}
.container .c1 a{
    display:inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius:40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.container .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}
.container .imgBox img{
    max-width: 165px;
    transition: all 0.3s linear;
}
.c2{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.c2 li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.c2 li:hover{
    transform: translateY(-15px);

}

.c2 li img{
    max-width: 40px;
}
.social{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transition: all 0.3s linear;
   width: 32px;
}

.social li a:hover{
 
    transform: translateY(-10px);
    z-index:2;
}
.imgBox:hover img{
    transform:scale(1.1);
    z-index:2;
    filter: drop-shadow(2px 4px 6px black);
}

.social img{
    width: 100%;
}